html, body{
  height:100%;
  overflow: hidden;
}

.form-control {
  opacity: 1!important;
}

.detailsList {
 list-style: none; 
 margin-left: none;
 padding-left: 0;
 padding-right: 0;
 margin-top: 0!important;
 margin-bottom: 0!important;
}

.boldDetail {
  font-weight: 800;
}

.grid-row {
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.grid-row:before {
  content: none!important;
}

.grid-col {
  margin-top: 0!important;
  margin-bottom: 0!important;
}

.detailName {
  font-size: 14px;
  font-weight: 200;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 0;
  text-align: right; 
}

li {
  margin-left: 5px;
  margin-right: 5px;
}

.hrDetail {
  border-width: 1px;
  margin: 0;
  padding: 0;
  width: 100%;
  border-color: #979E9D;
}

#details-left {
  text-align: left; 
  width: 47%;
  height: 19vh;
  display: inline-block;
  vertical-align: top; 
  margin: 5px;
  margin-right: 0px;
  border-radius: 3px;
  padding: 3px;
  padding-left: 0;
  background-color: #DDE6E3;
}

#details-action {
  text-align: left; 
  width: 70%;
  height: 19vh;
  display: inline-block;
  vertical-align: top; 
  margin: 5px;
  margin-right: 0px;
  border-radius: 3px;
  padding: 6px;
  background-color: #DDE6E3;
}

#detailsHeader {
  text-align: center; 
  margin-bottom: 0;
}

.detailsFull {
  text-align: left; 
  width: 97%;
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  margin-left: 0px;
  border-radius: 3px;
  margin-top: 10px; 
  border-left: solid 1px #CFD8D7; 
  padding: 3px;
  background-color: #DDE6E3;
}

#details-right {
  text-align: left; 
  width: 47%;
  height: 19vh;
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  margin-left: 0px;
  border-radius: 3px; 
  border-left: solid 1px #CFD8D7; 
  padding: 3px;
  background-color: #DDE6E3;
}

#details-panel {
  height: 25vh;
  padding: 5px;
  overflow-y: auto; 
  background-color: #d5e0e5;
  border-bottom: 2px solid gray;
  font-size: 12px;
  text-align: center;
}

.editAssert {
  background-color: #5e8291;
  margin: 0;
  padding: 5px;
  padding-left: 15px;
  border-bottom: 2px solid #174151;
  color: rgba(255,255,255,.8);
  transition: all 0.2s ease-in; 
}

.editAssert:hover {
  color: rgba(255,255,255,1);
    transition: all 0.2s ease-in; 

}

#topNameEditBlock {
  margin: 0;
}

.editAssert:last-of-type {
  border-bottom: none; 
}


#newTestButton {
  margin-left: 10px;
}

.button-container{
  text-align: center;
  margin-bottom: 10px;
}

#nameBlockButton {
  margin-top: 10px;
}

rect { 
 fill: #f4f9f9;
 }

#assertions-panel {
  height: 55vh;
  background-color: #d5e0e5;    
  overflow-y: auto;
  padding-top: 10px;   
}

.btn-primary {
  margin-right: 10px!important;
  margin-bottom: 10px!important;
}

#results-panel {
  border: solid 1px black;
  background-color: black;
  font-family: monaco;
  font-size: 12px;
  color: gray;
  height: 20vh;
  padding: 5px;
  overflow-y: auto;  
}
#panel {
  width: 300px;
}
.subheader {
  font-size: 14px;
}
#tree {
  width: 100%;
  height: 100%;
}
#tree-container {
  max-width: 800px;
  -webkit-flex: 1;
  flex: 1;
}

/* .accordion-block {
  border: solid 1px black;
} */
.accordion-container {

}

 .accordion-asserts {
  cursor: pointer;
  padding: 0.4em 0.2em;
  padding-left: 15px;
  transition: all .1s ease;   
  color: rgba(11,11,11,.8);
  font-weight: 450;
  border-left: 1px solid rgba(34,36,38,.15);
  border-bottom: 1px solid rgba(34,36,38,.15);  
  overflow-x: hidden;
  background-color: #AFC0D4!important;

} 

.accordion-asserts:hover {
  color: rgba(0,0,0,1);
  transition: all 0.2s ease-in; 
}

.accordion-asserts:active {
  color: rgba(11,11,11,.8);
}

.accordion-content {
  padding-right: 0!important;
  padding-left: 0em!important;
  padding-bottom: 0!important;
  padding-top: 0!important;
  background-color: #74929E!important;
}

.accordion-block{
  color: rgba(255,0,0,.6)!important;
  transition: all .1s ease;
}

#test {
  padding: 0px;
}

.object-content {
  overflow-wrap: break-word;
}

.accordion-block:hover {
  color: rgba(0,0,0,.8)!important;
  transition: all .2s ease!important;  
}

#topNameEditBlock {
  background-color: #619fb7;
  padding: 10px 20px;
}

.accordion-stateprops.block {
  width: 100%!important;
}

.accordion-stateprops-content {
  display: inline-block;
  width: 190px;
}

.accordion-stateprops-title {
  padding: 0!important;
}

/* .result-icon {
  font-size: 2em!important;
  height: 0!important;
} */