#details-panel {
  border: solid 1px black;
  height: 300px;
  overflow: scroll; 
}
#assertions-panel {
  border: solid 1px black;
  height: 400px;
}
#panel {
  width: 300px;
}
.subheader {
  font-size: 14px;
}
#tree {
  width: 100%;
  height: 100%;
}
#tree-container {
  max-width: 800px;
  -webkit-flex: 1;
  flex: 1;
}

#detailsPanel {
  background-color: orange; 
}