html, body{
  height:100%;
}

.form-control {
  opacity: 1!important;
}

#details-panel {
  height: 25vh;
  padding: 5px;
  overflow-y: auto; 
  background-color: #74929E;
  border-bottom: 2px solid gray;
}

rect { 
 fill: #f4f9f9;
 }

#assertions-panel {
  height: 55vh;
  background-color: #74929E;    
  padding: 10px;
  overflow-y: auto;   
}

#results-panel {
  border: solid 1px black;
  background-color: black;
  font-family: monaco;
  font-size: 12px;
  color: gray;
  height: 20vh;
  padding: 5px;
  overflow-y: auto;  
}
#panel {
  width: 300px;
}
.subheader {
  font-size: 14px;
}
#tree {
  width: 100%;
  height: 100%;
}
#tree-container {
  max-width: 800px;
  -webkit-flex: 1;
  flex: 1;
}

/* .accordion-block {
  border: solid 1px black;
} */
.accordion-container {
  margin: 0 -10px;
}

 .accordion-asserts {
  cursor: pointer;
  padding: 0.4em 0.2em;
  transition: all .1s ease;   
  color: rgba(255,255,255,.6);
  font-weight: 450;
  border-left: 1px solid rgba(34,36,38,.15);
  border-bottom: 1px solid rgba(34,36,38,.15);  
  overflow-x: hidden;
  background-color: #31464F!important;
} 

.accordion-asserts:hover {
  color: rgba(255,255,255,.87);
  transition: all 0.2s ease-in; 
}

.accordion-asserts:active {
  color: rgba(0,0,0,.87);
}

.accordion-content {
  padding-right: 0!important;
  padding-left: 0.0em!important;
  padding-bottom: 0!important;
  padding-top: 0!important;
  background-color: #74929E!important;
}

.accordion-block{
  background-color: #102730!important;
  color: rgba(255,255,255,.6)!important;
  transition: all .1s ease!important;  
}

.accordion-block:hover{
  color: rgba(255,255,255,.87)!important;
  transition: all .2s ease!important;  
}

/* .result-icon {
  font-size: 2em!important;
  height: 0!important;
} */